<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activitytest.example.com.dreamlist">
    <!--读取Log -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"

        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.SplashActivity"
        android:theme="@style/NoActivityFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity"
          android:label="">





        </activity>




        <activity android:name=".ui.GuideActivity"
            android:theme="@style/NoActivityFullscreen"></activity>



        <activity android:name=".ui.LoginActivity"
            android:label="@string/login"></activity>



        <activity android:name=".ui.RegisteredActivity"
            android:label="@string/registered">
        </activity>
        <activity android:name=".ui.ForgetPasswordActivity"
            android:label="text_forget_password">

        </activity>

        <activity android:name=".ui.SettingActivity"
            android:label="@string/text_setting"></activity>
        <activity android:name=".ui.HistoryActivity"
            android:label="@string/history"></activity>
        <activity android:name=".ui.EventActivity"
            android:label="@string/event"></activity>
        <activity android:name=".ui.DreamListActivity"
            android:label="@string/dreamlist"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.TodayPlanActivity"
            android:label="@string/todayplan"></activity>
        <activity android:name=".ui.CheckOutActivity"
            android:label="@string/checkout"></activity>
        <activity android:name=".ui.MemoryActivity"
            android:label="@string/memory"></activity>
        <activity android:name=".ui.AchievementActivity"
            android:label="@string/achievement"></activity>
        <activity android:name=".ui.EncouragementActivity"
            android:label="@string/encouragement"></activity>
        <activity android:name=".ui.DreamListEdit"></activity>
        <activity android:name=".ui.TodayPlanEdit"></activity>
    </application>

</manifest>


